body{font-family:Arial,Helvetica,sans-serif}#root{height:100vh;display:flex;justify-content:center;align-items:center}
.comment__text{margin:8px 0}.comment__date{opacity:.5}
.avatar{width:40px;height:40px;border-radius:50%}
.user-info{display:flex;align-items:center}.user-info__name{margin-left:8px;opacity:.6;font-weight:700}
