* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

#root {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    height: 48px;
    color: #fff;
    border-radius: 8px;
    outline: none;
    border: none;
    text-transform: uppercase;
    padding: 8px;
    cursor: pointer;
    background-color: darkgreen;
}

.dialog {
    position: absolute;
    top: 30vh;
    left: 30vw;
    width: 40vw;
    max-height: 40vh;
    border: 2px solid #ccc;
    border-radius: 8px;
    padding: 8px;
    background-color: #fffafa;
    align-items: flex-start;

    &__heading {
        display: flex;
    }

    &__title {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    &__close-btn {
        transform: rotate(45deg);
        background-color: transparent;
        border: none;
        font-size: 32px;
        opacity: 0.5;
        background: #eee;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-left: auto;
        outline: none;
        cursor: pointer;

        &:hover {
            background: #ccc; 
        }
    }
}