* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.page {
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.city {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__temperature {
    font-size: 32px;
  }
}

.spinner {
  display: inline-block;
  border: 3px solid #ccc;
  border-left-color: transparent;
  animation: spin 0.5s infinite linear;
  border-radius: 50%;
}

.user {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__avatar {
    width: 64px;
    height: 64px;
    border-radius: 50%;
  }

  &__info {
    text-align: center;
    font-size: 24px;
    margin: 32px;
  }

  &__name {
    font-weight: 700;
    margin-right: 8px;
  }

  &__location {
    opacity: 0.5;
  }
}
