.search {
  margin: auto;
  display: flex;
  flex-direction: column;

  &__title {
    opacity: 0.7;
  }

  &__field {
    display: flex;
    height: 50px;
  }

  &__input {
    flex: 1;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border: 3px solid #ff7f50;
    border-right: none;
    padding: 8px;
    font-size: 24px;
    outline: none;
  }

  &__button {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border: 3px solid #ff7f50;
    border-left: none;
    width: 80px;
    text-transform: uppercase;
    font-weight: 700;
    background: #ff7f50;
    color: #fff;
    cursor: pointer;
  }
}
