#root {
  height: 100vh;
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
}

.greeting {
  margin: auto;
  padding: 8px;
  border-radius: 8px;
  border: 3px solid #eee;
}

.greeting__title {
  font-size: 20px;
  margin: 0;
  font-weight: 700;
  text-align: center;
  margin-bottom: 16px;
}

.greeting__text {
  font-size: 16px;
  margin: 0;
  opacity: 0.8;
  text-align: center;
}

