.clock {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 120px;
  padding-top: 30px;

  &__location {
    text-transform: uppercase;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    margin-bottom: 8px;
    font-weight: 700;
  }

  &__time {
    border: 3px solid #ff7f50;
    border-radius: 8px;
    padding: 8px;
    text-align: center;
  }
}
