* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.page {
    width: 100vw;
    height: 100vh;
    display: flex;

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto;
    }
}

.navigation {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;

    &__item {
        margin: 8px;
    }
}