* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

#root {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.transactions {
  list-style-type: none;
  padding: 0;
  margin: 0;
  max-width: 600px;
  width: 100%;
}

.transaction {
  margin: 8px;
  display: flex;
  height: 32px;
  line-height: 32px;
  border-bottom: 1px solid #eee;

  &__date {
    flex: 1;
    opacity: 0.5;
  }

  &__time {
    flex: 1;
    font-weight: 700;
  }

  &__assets {
    font-weight: 700;
    opacity: 0.5;
    flex: 1;
  }

  &__rate {
    flex: 1;
    text-align: right;
  }

  &__amount {
    flex: 1;
    text-align: right;
  }
}
