body{font-family:Arial,Helvetica,sans-serif}#root{height:100vh;display:flex;align-items:center;justify-content:center}
.counter{display:flex;flex-direction:column;align-items:center;border:3px solid coral;border-radius:8px;padding:8px;margin:8px;text-align:center}
